@keyframes change-smile {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes change-happy {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    99% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes icon-wedding {
    0% {
        opacity: 0;
    }

    33% {
        opacity: 1;
    }


    34% {
        opacity: 0;
    }


    100% {
        opacity: 0;
    }
}

@keyframes rotate-smile {
    0% {
        transform: rotate(0deg);
        opacity: 1;
        left: -300px;
    }

    1% {
        transform: rotate(90deg);
    }

    10% {
        transform: rotate(180deg);
    }

    20% {
        transform: rotate(270deg);
    }

    30% {
        transform: rotate(360deg);
    }

    40% {
        transform: rotate(450deg);
    }

    50% {
        transform: rotate(540deg);
    }

    60% {
        transform: rotate(630deg);
    }

    70% {
        opacity: 1;
        left: -150px;
        transform: rotate(720deg);
    }

    71% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        left: -150px;
        transform: rotate(720deg);
    }
}

@keyframes rotate-happy {
    0% {
        transform: rotate(0deg);
        opacity: 0;
        left: -350px;
    }

    1% {
        transform: rotate(90deg);
    }

    10% {
        transform: rotate(180deg);
    }

    20% {
        transform: rotate(270deg);
    }

    30% {
        transform: rotate(360deg);
    }

    40% {
        transform: rotate(450deg);
    }

    50% {
        transform: rotate(540deg);
    }

    60% {
        transform: rotate(630deg);
    }

    70% {
        opacity: 0;
        left: -150px;
        transform: rotate(720deg);
    }

    71% {
        opacity: 1;
    }

    100% {
        opacity: 1;
        left: -150px;
        transform: rotate(720deg);
    }

}