// font-family: 'Dancing Script', cursive;
// font-family: 'Lato', sans-serif;

$color-white: #fff;
$color-black: #000;

$color-brown: #97776A;
$color-chocolate: #1F100B;
$color-light: #D3CAAD;

$font-primary: 'Lato',
sans-serif;
$font-specia: 'Amatic SC',
Arial,
Helvetica,
sans-serif;