.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-chocolate;
    background-image: linear-gradient(to right bottom, $color-brown, $color-light);

    &__contact {
        font-size: 3rem;
        margin: 2rem 0;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__item {
        font-size: 1.5rem;
        padding: 0 1.5rem 2rem;
        width: 100%;

        i {
            margin-right: 15px;
            font-size: 2rem;
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }

}