.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-chocolate;
    background-image: linear-gradient(to right bottom, $color-brown, $color-light);

    &__contact {
        font-size: 3rem;
        margin: 2rem 0;
    }

    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    &__item {
        font-size: 1.5rem;
        padding: 0 1.5rem 2rem;
        width: 100%;

        i {
            margin-right: 15px;
            font-size: 2rem;
        }

        &:last-child {
            margin-bottom: 20px;
        }
    }

}

@media screen and (orientation:landscape) and (max-width: 599px) {
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-chocolate;
        background-image: linear-gradient(to right bottom, $color-brown, $color-light);

        &__contact {
            font-size: 3.5rem;
            text-align: center;
        }

        &__list {
            width: 100%;
            padding: 0 0 3rem;
            display: flex;
            flex-direction: row;
            justify-content: baseline;
        }

        &__item {
            font-size: 1.5rem;
            padding: 0;
            // padding-bottom: 2rem;
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: baseline;
            align-items: center;


            i {
                margin-right: 5px;
                font-size: 2rem;
            }
        }


    }
}