.header {
    height: 100vh;
    background-image:
        url(../img/background-header-640.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: $color-white;
    position: relative;


    &__text-box {
        @include flexCenter;
        font-size: 1.5rem;
    }

    &__h1 {
        text-align: center;
        color: #fff;
        margin: 7rem 0 4rem;

        &--main {
            font-family: $font-special;
            font-size: 8rem;
        }

        &--sub {
            display: block;
            font-size: inherit
        }
    }

    .btn {
        font-weight: 700;
        color: $color-chocolate;
        font-size: inherit
    }

    .btn--header {

        i {
            color: inherit;
            margin-left: 5px;
        }
    }

    &__happy {
        position: absolute;
        right: 50px;
        bottom: 50px;
        font-size: 4rem;

        .smile {
            transform: rotate(-40deg);
            opacity: 1;
            animation: laughting-smile 2s infinite;
        }

        .laugh {
            opacity: 0;
            transform: rotate(40deg);
            animation: laughting-laught 2s infinite;
        }
    }
}

@media screen and (orientation:landscape) and (max-width: 599px) {
    .header {
        &__h1 {
            margin: 0rem 0 4rem;
        }
    }
}