.products {
    height: min-content;
    text-align: center;
    margin: 1rem 1rem;
    font-size: 1.5rem;

    &__h2 {
        margin: 3rem 0 3rem;
        font-family: $font-special;
        font-size: 8rem;
    }

    .product {
        box-shadow: 0 0 1rem 1rem rgba(black, .2);

        border-radius: 10px;
        padding: 2.5rem;
        margin-bottom: 4rem;
        position: relative;


        &__picture {

            &-1 {
                height: 25rem;
                width: 25rem;
                border-radius: 50%;
                margin-bottom: 2rem;


                &--none {
                    display: none;
                }
            }

            &-2 {
                @extend .product__picture-1;

                &--none {
                    display: none;
                }
            }

            &-3 {
                @extend .product__picture-1;

                &--none {
                    display: none;
                }
            }

            &-4 {
                @extend .product__picture-1;

                &--none {
                    display: none;
                }
            }
        }


    }
}

@media screen and (orientation:landscape) and (max-width: 599px) {
    .products {

        &__h2 {
            margin: 3rem 0 3rem;
            font-family: $font-special;
            font-size: 8rem;
        }


        .product {
            margin: 0 auto 4rem;
            width: 80%;

            &__picture {
                &-1 {
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
            }
        }
    }
}