.contact {


    .book-form {
        background-size: cover;
        background-position: center;

    }
}

.form {
    @include flexCenter;

    &__h3 {
        color: $color-white;


        i {
            margin-left: 5px;
        }
    }

    &__group {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        border-radius: 2px;

        background-color: rgba($color-white, .9);
        border: none;
        border-bottom: 3px solid transparent;
        display: block;
        transition: all .3s;


        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            color: $color-black;
        }


    }

    &__label {
        font-family: inherit;
        text-align: center;
        display: block;
        transition: all .3s;
        color: white;
        font-weight: 700;
        border-radius: 10px;
        border-bottom: 3px solid transparent;

    }

    &__input:placeholder-shown+&__label {
        opacity: 0;
        visibility: hidden;
    }

    &__area {
        font-family: inherit;
        background-color: rgba(white, .9);
        color: black;
        width: 100%;
        margin: 0 auto;
        outline: none;
        display: block;

    }

}

// --------------------------------------------------------------------------------
// .contact {


//     .book-form {
//         background-size: cover;
//         background-position: center;
//         border-radius: 3px;

//         background-image:
//             url(../img/form3.jpg); //
//     }
// }

// .form {
//     @include flexCenter;

//     &__h3 {
//         color: $color-white;

//         font-size: 2rem; //
//         padding: 1.5rem 2rem; //
//         margin: 1rem auto; //

//         i {
//             margin-left: 5px;
//         }
//     }

//     &__group {
//         margin-bottom: 2rem;
//     }

//     &__input {
//         font-size: 1.5rem;
//         font-family: inherit;
//         color: inherit;
//         border-radius: 2px;

//         background-color: rgba($color-white, .9);
//         border: none;
//         border-bottom: 3px solid transparent;
//         display: block;
//         transition: all .3s;

//         padding: 1.5rem 2rem; //
//         width: 100%; //

//         &:focus {
//             outline: none;

//             border-bottom: 3px solid $color-brown; //
//         }

//         &::-webkit-input-placeholder {
//             color: $color-black;
//         }


//     }

//     &__label {
//         font-family: inherit;
//         text-align: center;
//         display: block;
//         transition: all .3s;
//         color: white;
//         font-weight: 700;
//         border-radius: 10px;
//         border-bottom: 3px solid transparent;

//         width: 10rem; //
//         font-size: 1.2rem; //
//         background-color: $color-brown; //
//         transform: translate(12rem, -6rem); //
//     }

//     &__input:placeholder-shown+&__label {
//         opacity: 0;
//         visibility: hidden;
//     }

//     &__area {
//         font-family: inherit;
//         background-color: rgba(white, .9);
//         color: black;
//         width: 100%;
//         margin: 0 auto;
//         outline: none;
//         display: block;

//         padding: 20px;
//         width: 90%;
//         font-size: 1.5rem;
//     }

//     &__btn {
//         font-weight: 700;
//         font-size: 1.4rem;
//         margin-bottom: 1rem;
//     }

// }